body {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hit {
    background-color: red;
    color: white;
}
.miss {
    background-color: grey;
    color: white;
}

.player-gameBoard-cells, .computer-gameBoard-cells {
    position: relative;
    display: grid;
    grid-template-columns: repeat(11, 50px);
    grid-template-rows: repeat(11, 50px);


}

.gameBoard-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gameBoard-cell, .x-coord, .y-coord {
    display: flex;
    border: 1px solid grey;
    height: 50px;
    width: 50px;
    background-color: white;
    color: black;
    justify-content: center;
    align-items: center;
}



.overlay {
    position: absolute; /* Sit on top of the page content */
    display: flex; /* Hidden by default */
    left: 25px;
    top: 15px;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.0); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    align-items: center;
}

.computer-overlay{
    display: none;
}

.startButton {
    height: 50px;
    width: 200px;

}

.hit {
    background-color: red;
    color: white;
}

.dragging {
    background-color: #000000;
    color: white;
}

.ship-selector-container {
    display: flex;
    outline: red solid 1px;

    /*flex-direction: column;*/
}

.ship-cell {
    background-color: #000000;
    border: 1px solid grey;
    height: 50px;
    width: 50px;

}

.topCell {

    border-color: black black grey grey;
    border-width: 4px 1px 1px 1px;
}

.topRightCornerCell {

    border-color: black black grey grey;
    border-width: 4px 4px 1px 1px;

}

.topLeftCornerCell {

    border-color: black grey grey black;
    border-width: 4px 1px 1px 4px;

}

.leftCell {

    border-color: grey grey grey black;
    border-width: 1px 1px 1px 4px;

}

.rightCell {

    border-color: grey black grey grey;
    border-width: 1px 4px 1px 1px;

}

.bottomCell {

    border-color: grey black black grey;
    border-width: 1px 4px 4px 1px;

}

.bottomLeftCornerCell {
    border-color: grey grey black black;
    border-width: 1px 1px 4px 4px;

}

.bottomRightCornerCell {
    border-color: grey black black grey;
    border-width: 1px 4px 4px 1px;

}